*{
	box-sizing: border-box;
}

html {
	height: 100%;
}

body{
	margin:0;
	padding:0;
	background: url(designscreen.jpg);
	color:#fff;
	font-family: sans-serif;
	font-size: .75;
	height: 100%;
}

label{

	font-family: sans-serif;
	display:block;
}

form{
	width:800px;
	margin:10% auto;
}

h1{
	font-size: 5.5em;
	margin:10px 0;
}

.dime{
	width:200px;
}

.range{
	width:80px;
}

.left{
		float: left;
}

.colour{
	display: inline-block;

}
.buttons{
	width:100%;
	margin:10px 0 0 0;
}

.submit{
	background-color: rgb(19,168,53); 
	cursor: pointer;
	color: #fff;
	font-weight:bold;
	padding:10px;
	border:none;
	font-size: 1em;
}


.add{
	border:none;
	background:none;
	font-size:.75em;
	color: rgba(36,38,62,1);
	cursor: pointer;
	width:100%;
	text-align: left;
}

.forms{
	/*background-color: rgba(82,159,173,1);*/
	padding:50px;
}

p{
	font-size: 1.5em;
	font-family: sans-serif;
	color: #fff;
	margin:0 0 10px 0;
	font-weight: 400;
}

input{
	margin:5px 5px 5px 5px;
	background-color: rgba(82,159,173,0.5);
	border-top:0;
	border-left:0;
	border-right:0;
	padding:10px;
	font-size: 1.5em;
	

}

select, option{
	background-color: rgba(42,119,250,0.2);
	border: none;
	color: #fff;
	padding:5px;
}

.input:active{
	border:0;
	background: rgba(0,0,0,0.1)
}

textarea{
	background-color: rgba(82,159,173,0.5);
	padding: 10px;
	font-size: 1.25em;
}

.text{
	width:500px;
}

header{
	width:100%;
	padding:0px 100px;
	
	position: absolute;
	z-index: 1;
	background: #1e1e1e;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.6)
	

}

nav{
	width:100%;
	

}
nav ul{
	list-style-type: none;
	text-align: right;
}
nav ul li{
	display: inline-block;
	margin:0px 20px;
	/*font-weight: bold;
	/*text-shadow: 2px 1px 2px rgba(0,0,0,0.4);*/

}

nav ul a li {
	color: #fff;
	text-decoration:none;
	border-bottom: 3px solid rgba(27,89,198,0);
	padding-bottom:10px;
	transition: all 0.3s ease;

}

nav ul a li:hover {
		border-bottom: 3px solid rgba(27,89,198,1);

}

.login{
	border: 2px solid #fff;
	padding:10px 30px;
	
	text-align: center;
	margin:5px 0 0 20px;
	transition: all 0.2s ease;
}

.login:hover{
	background: #1B59C6;
	border: 2px solid rgba(255,255,255,0);
}

.login:active{
	background: #11397F;
}


.logo{
	float:left;
	font-size:3em;
	padding:5px 20px;
	margin-top: 10px;
	font-family: georgia
}

.hero{
	width:100%;
	height:100%;
	background: url(bunny.jpg) no-repeat 50% 30%;
	background-size: cover;
	text-shadow: 2px 1px 2px rgba(0,0,0,0.4);

}

.hero-section{
	width:80%;
	padding:20% 10%;


	
}

.btn{
	width:200px;
	font-size: 1.5em;
	font-weight: 500;
	border: 2px solid #fff;
	padding:10px 30px;
	text-align: center;
	margin:30px 0 0 0;
	transition: all 0.2s ease;
}

