*{
	box-sizing: border-box;
}

html {
	height: 100%;
}

body{
	margin:0;
	padding:0;
	
  background: -webkit-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* W3C */
        
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size: .75;
	height: 100%;
}

label{

	font-family: sans-serif;
	display:block;
	margin:10px 0 10px 5px;
	font-size: 2em;
	font-family: 'Roboto Condensed';
	font-weight: 700;
}

form{
	width:100%;
	height:100vh;
	
}
.hero{
	width:100%;
	height:100vh;
	text-align: center;
	padding:40% 0 0 0;

}

.project{
	background: rgb(19,168,53);
	box-shadow: 1px 3px 3px rgba(0,0,0,0.3);
	width:80%;
	margin:20px auto;
	padding:20px;

}

.copy{
	text-align: center;
	width:100%;
	padding:2%;
	background-color: #222;
	color: #fff;
}
.formCenter{
	width:85%;
	height:100vh;
	margin:30% auto;
	padding:5% 0;

}
h1{
	font-size: 3.5em;
	margin:10px 0;
}

.dime{
	width:150px;
}

.range{
	width:80px;
}

.left{
		float: left;
}
.platform{
	width:200px;
}
.right{
	float: right;
}

.account{
	padding: 17px 0 0 5px;
	float:right;

}

.colour{
	display: inline-block;
	width:200px;
	height: 50px;
	padding:0;

}
.buttons{
	width:100%;
	margin:10px 0 0 0;
}

.submit{
	background-color: rgb(19,168,53);
	cursor: pointer;
	color: #fff;
	font-weight:bold;
	padding:10px;
	width:100px;
	border:none;
	font-size: 1em;
}

/*.submit{
	position: absolute;
	background: rgb(19,168,53);
	width:100vw;
	height:100px;
	bottom:0;
	margin:-100px 0 0 0;
	left:0;
}*/


.add{
	border:none;
	background:none;
	font-size:.75em;
	color: rgba(36,38,62,1);
	cursor: pointer;
	width:100%;
	text-align: left;
}

.add:active{
	border:none;
}

p{
	font-size: 1.25em;
	font-family: sans-serif;
	margin:0 0 10px 0;
	font-weight: 400;
	line-height: 1.5;
}

h1{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
}

h2{
	font-size: 2em;
	font-family: 'Roboto Condensed', sans-serif;
}

h3{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 3.5em;
}

input{
	margin:5px 5px 5px 5px;
	background-color: rgba(255,255,255,0.5);
	border-top:0;
	border-left:0;
	border-right:0;
	padding:10px;
	font-size: 1em;
	color:#333;
	width:100%;


}

select{
	background: #00d2ff;
	border: none;
	color: #fff;
	padding:15px 5px;
	
}

option{
	padding:10px 0;
	color:#fff;
	font-size: 1em;
}

.input:active{
	border:0;
	background: rgba(0,0,0,0.1)
}

textarea{
	background-color: rgba(255,255,255,0.5);
	padding: 10px;
	font-size: 1.25em;
	width:100%;
}


header{
	width:100%;
	padding:0px 10px;
	position: absolute;
	z-index: 1;
	position: fixed;
}

.navbtn{
	width:35px;
	padding:10px 0 0 0;
	height: 50px;
	border-bottom: 2px solid rgba(255,255,255,0);
	transition: all 0.2s ease;
	text-align: right;
}

.navbtn:hover{
	width:35px;
	border-bottom: 2px solid rgba(255,255,255,1);
	cursor: pointer;
}

h5{
	text-align: center;
	padding:10px 0 0  0;
	margin:0;
}

#background{
	position:absolute;
    top:0px;
    left:0;
    width:100%;
    height:100%;
    background-color:#333;
    display:none;
    z-index: -1;
    box-shadow:0px 2px 3px rgba(0,0,0,0.3);
}



.remove{
	background: red;        
	border: none;
	height: 30px ;
	width:30px;
	margin:-50px 0 0 -20px;
	border-radius: 250px; 
	color: #fff;
	padding:5px 10px;
}

.logo{
	padding:20px 0 0 0;
	float: left;
}
/*==============================
SLIDER STYLES
===============================*/

.slider-wrap {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.slider {
	height: 100%;
	width: 100%;
	transition: all 0.5s;
}

.slide {
	width: 100%;
	padding: 5% 0;
}


.none{
	display: none;
}

.skip{
	background:none;
	border:none;
	width:300px;
	margin: 100px 0 0 0;
	font-size: 1em;
	text-align: left;
	color: white;
	cursor: default;
}


@media only screen and (min-width: 640px) {


.formCenter{
	width:65%;
	height:100vh;
	margin:0 auto;
	padding:5% 0;


}

.none{
	display: none;
}

}


@media only screen and (min-width: 1024px) {

.formCenter{
	width:45%;
	height:100vh;
	margin:0 auto;
	padding:5% 0;

}

*{
	box-sizing: border-box;
}

html {
	height: 100%;
}

body{
	margin:0;
	padding:0;
	
  background: -webkit-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* W3C */
        
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size: .75;
	height: 100%;
}

label{

	font-family: sans-serif;
	display:block;
	margin:10px 0 10px 5px;
	font-size: 2.5em;
	font-family: 'Roboto Condensed';
	font-weight: 700;
}

form{
	width:100%;
	height:100vh;
	
}

.formCenter{
	width:85%;
	height:100vh;
	margin:0 auto;
	padding:0 auto;

}
h1{
	font-size: 2.5em;
	margin:10px 0;
}

.dime{
	width:200px;
}

.range{
	width:80px;
}

.left{
		float: left;
}

.right{
	float: right;
}

.account{
	padding: 10px 0 0 5px;
}

.colour{
	display: inline-block;
	width:200px;
	height: 50px;
	padding:0;

}
.buttons{
	width:100%;
	margin:10px 0 0 0;
}

.submit{
	background-color: rgb(19,168,53);
	cursor: pointer;
	color: #fff;
	font-weight:bold;
	padding:10px;
	border:none;
	width:100px !important;
	font-size: 1em;
}

/*.submit{
	position: absolute;
	background: rgb(19,168,53);
	width:100vw;
	height:100px;
	bottom:0;
	margin:-100px 0 0 0;
	left:0;
}*/
.upload{
	width:500px;
}
.add{
	border:none;
	background:none;
	font-size:.75em;
	color: rgba(36,38,62,1);
	cursor: pointer;
	width:100%;
	text-align: left;
}

p{
	font-size: 1.25em;
	font-family: sans-serif;
	margin:0 0 10px 0;
	font-weight: 400;
	line-height: 1.5;
}

h1{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
}

h2{
	font-size: 2em;
	font-family: 'Roboto Condensed', sans-serif;
}

h3{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 3.5em;
}

input{
	margin:5px 5px 5px 5px;
	background-color: rgba(255,255,255,0.5);
	border-top:0;
	border-left:0;
	border-right:0;
	padding:10px;
	font-size: 1.5em;
	color:#333;
	width:100px;


}

select{
	background: none;
	border: none;
	color: #fff;
	padding:15px 5px;
	font-size: 1em
}

option{
	padding:10px 0;
	color:#333;
	font-size: 1em;
}

.input:active{
	border:0;
	background: rgba(0,0,0,0.1)
}

textarea{
	background-color: rgba(255,255,255,0.5);
	padding: 10px;
	font-size: 1.25em;
}

.text{
	width:500px;
}

header{
	width:100%;
	padding:0px 10px;
	position: absolute;
	z-index: 1;
	position: fixed;
}

.navbtn{
	width:100px;
	padding:10px 0 0 0;
	height: 50px;
	border-bottom: 2px solid rgba(255,255,255,0);
	transition: all 0.2s ease;
}

.navbtn:hover{
	width:100px;
	border-bottom: 2px solid rgba(255,255,255,1);
	cursor: pointer;
}

h5{
	text-align: center;
	padding:10px 0 0  0;
	margin:0;
}

#background{
	position:absolute;
    top:0px;
    left:0;
    width:100%;
    height:100%;
    background-color:#333;
    display:none;
    z-index: -1;
    box-shadow:0px 2px 3px rgba(0,0,0,0.3);
}



.remove{
	background: #0277bd;        
	border: none;
	border-radius: 250px; 
	color: #fff;
	padding:5px 10px;
	width:50px;
	height:50px;
	margin:0;
}
.logo{
	padding:5px 0 0 0;
}
/*==============================
SLIDER STYLES
===============================*/

.slider-wrap {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.slider {
	height: 100%;
	width: 100%;
	transition: all 0.5s;
}

.slide {
	width: 100%;
	padding: 5% 0;
}

.none{
	display: inline-block;
}

.formCenter{
	width:45%;
	height:100vh;
	margin:0 auto;
	padding:5% 0;


}
.skip{
	background:none;
	border:none;
	width:300px;
	margin: 100px 0 0 0;
	font-size: 1em;
	text-align: left;
	color: white;
	cursor: default;
}

.back{
	margin:0 0 100px 0;
}

.hero{
	width:100%;
	height:100vh;
	text-align: center;
	padding:15% 0 0 0;

}
.options{
	width:640px;
	margin:0 auto;
	text-align: center;
}
.project{
	background: rgb(19,168,53);
	box-shadow: 1px 3px 3px rgba(0,0,0,0.3);
	width:300px;
	float:left;
	margin:10px;
	padding:20px;

}

}

