*{
	box-sizing: border-box;
}

html {
	height: 100%;
}
a{
	text-decoration: none;
	color: #fff;
}
body{
	margin:0;
	padding:0;
	background: #fff;
	color:#fff;
	font-family: 'aktiv-grotesk-std', sans-serif;
	font-size: .75;
	height: 100%;
}

label{

	font-family: sans-serif;
	display:block;
	margin:10px 0 0px 5px;
}

form{
	max-width:90%;
	margin:0 auto;
}

h1{

	margin:10px 0;
	font-family: 'aktiv-grotesk-std', sans-serif;
	font-weight: 700;
}

h2{
	font-size: 1.5em;
	font-family: 'aktiv-grotesk-std', sans-serif;
}

h3{
	font-family: 'aktiv-grotesk-std', sans-serif;
	font-weight: 700;
	font-size: 4em;
}


.colour{
	display: inline-block;

}



.submit{
	background-color: rgb(19,168,53);
	cursor: pointer;
	color: #fff;
	font-weight:bold;
	padding:10px;
	border:none;
	font-size: 1em;
}




p{
	font-size: 1.25em;
	font-family: sans-serif;
	margin:0 0 10px 0;
	font-weight: 400;
	line-height: 1.5;
}

input{
	margin:5px 5px 5px 0px;
	background-color: rgba(0,0,0,0.05);
	border:none;
	padding:10px;
	font-size: 1em;



}

.fw{
	width:100%;
}
select, option{
	background-color: rgba(42,119,250,0.2);
	border: none;
	color: #fff;
	padding:5px;
}

.input:active{
	border:0;
	background: rgba(0,0,0,0.1)
}

textarea{
	background-color: rgba(82,159,173,0.5);
	padding: 10px;
	font-size: 1.25em;
}

.text{
	width:100%;
	padding:20px;
}

header{
	width:100%;
	padding:0px 10px;
	position: absolute;
	z-index: 1;


}

.fixed{
		position: fixed;
}

#background{
	position:absolute;
	overflow: hidden;
    top:0px;
    left:0;
    width:100%;
    height:80px;
    padding: 0 70px;
    background-color:#15B3FF;
    display:none;
    z-index: -1;
}




.none{
	display:none;
}
nav ul{
	list-style-type: none;
	text-align: right;
}
nav ul li{
	display: inline-block;
	margin:0px 20px;
	/*font-weight: bold;
	/*text-shadow: 2px 1px 2px rgba(0,0,0,0.4);*/

}

nav ul a li {
	color: #fff;
	text-decoration:none;
	padding:10px 15px;
	transition: all 0.3s ease;

}

nav ul a li:hover {
			background-color: #14A4DD;

}

.login{
	border: 2px solid #fff;
	padding:10px 30px;

	text-align: center;
	margin:5px 0 0 20px;
	transition: all 0.2s ease;
}

.login:hover{
	background: #1B59C6;
	border: 2px solid rgba(255,255,255,0);
}

.login:active{
	background: #11397F;
}


.logo{
	float:left;
	padding:5px 5px;
	margin-top: 10px;
}

.hero{
	width:100%;
	height:100%;
	background: url(../hero-image-03-10.jpg) no-repeat 50% 30%;
	background-size: cover;


}

.hero-section{
	width:100%;
	padding:15% 0 0



}

.hero-header{
	text-align: center;
	font-weight: 700;

}

.btn{
	width:200px;
	font-size: 1.5em;
	font-weight: 500;
	border: 2px solid #fff;
	padding:10px 30px;
	text-align: center;
	margin:30px auto;
	transition: all 0.2s ease;
}

.pink{
	width:200px;
	font-size: 1.5em;
	font-weight: 500;
	background-color: #13A835;
	padding:10px 30px;
	text-align: center;
	margin:30px auto;
	transition: all 0.1s ease;
	border-radius: 5px;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
}

.pink:hover{
	background-color: #13BA29;
}

.right{
	float: right !important;
}

.logout{
	font-size: 1em;
	margin:0;
	border-radius: 5px;
	text-align: center;
	background-color: #13A835;
	padding:15px;
}

.logout:hover{
	background-color: #13BA29;
}

.add{
	padding:15px;

}

.dashboard{
	background-color: #15B3FF;
	margin:0;
	padding:150px 0;
	height: auto;
	overflow: hidden;
}
.d-heading{
	top:300px;
	margin:0;
	text-align: center;
	

}
.project-c{
	
	width:80%;
	margin:0 auto;
	max-width: 1044px;
	text-align: center;
}
.view-p{
	text-align: left;
	padding:140px 0 0 0;
	position: absolute;
	font-size: 0.5em;

}
.project-sq{
	width:30%;
	padding:30px;
	margin:1.6%;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
	float: left;
	font-size: 2em;
	color: #15B3FF;
	height:300px;
	text-align: left;
	transition:all 0.2s ease;
}
.project-sq:hover{
	box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
	background-color: #0DA9F4;
	color: #fff;

}

.add-new{
	width:30%;
	padding:50px;
	margin:1.6%;
	border: 8px dashed #fff;
	height: 300px;
	text-align: center;
	float:left;
	border-radius: 10px;
	opacity:0.5;
	transition:all 0.2s ease;
}
.add-new:hover{
	opacity:1;
	background-color: rgba(0,0,0,0.1)
}

.plus{
	text-align: center;
	font-size: 8em;
}

.plus-text{
	text-align: center;
	font-size: 2em;
	margin:0;

}
#what{
	width:100%;
	padding:5% 5%;
	background-color: #fff;
	color: #282C33;

	overflow: hidden;
	z-index: 1;
	text-align: center;
}

#how{
	width:60%;
	padding:8% 5%;
	color:#282C33;
	overflow: hidden;
	margin:0 auto;
	text-align: center;
}

#how p{
	font-size: 18pt;
	margin:20px 0 0 0;
}

#contact{
	width:100%;
	height:550px;
	padding:350px 0;
	background: url(../clouds-b-12.jpg) no-repeat 60% 30%;
	background-size: cover;
	color: #333;
	overflow: hidden;
	text-align: center;

}

.news{
	background: #0F9CD3;
	margin:0;
	padding:50px 0;
	text-align: center;

}

.formNews{
	width: 990px;
	margin:0 auto;
	padding:0 0 20px 0;
}

.news h2{
	float: left;
	margin: 3px 10px 0 0;
	padding: 0;
}

.news input{
	float:left;
	margin:0 2px;
	background: #fff;
	border-radius: 5px;
	color: #0F9CD3;
}

.contact{
	background: #333;
	color: #B3B3B3;
	text-align: center;
	padding:2% 5%;
}

.contact a{
	text-decoration: none;
	color: #fff;

}

.contact a:hover{
	color: #26BADD;
}

.copy{
	text-align: center;
	width:100%;
	padding:2%;
	background-color: #222;
	color: #fff;
}

.content .btn{
	border: 2px solid #333; 
}
.content .btn:hover{
	border: 2px solid #fff;
	color: #fff;
}
.process{
	width:100%;
	text-align: center;
	padding: 5% 0
}

}

.img{
	width:100%;

}

.img img{
	width:110%;
}

.steps{
	width: 100%;
	padding:0 3%;
	float:left;
}

.steps img{
	width:100%;
	margin:0 auto;
}

.caption{
	font-size: 2em;

	font-weight: normal;
}
.how{
	padding:0 5%;
}
.line{
	width:38%;
	height:2px;
	opacity: 0.2;
	background: #15B3FF;
	margin: 20px auto;
}
.title{
	float: left;
	margin:0 20px;
	width:20%;
	text-align: center;

}

.title h2{
	margin:0;
	padding:0;
}
/*==============================
SLIDER STYLES
===============================*/

.slider-wrap {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.slider {
	height: 100%;
	width: 100%;
	transition: all 0.5s;
}

.slide {
	width: 100%;
	padding: 5% 0;
}


.loginForm{
	width:100%;
	height:100%;
	text-align: center;
	padding-top: 35%;
	
	background-size: cover;

	
}

.loginForm form{
	text-align: left;
	width:400px;
	padding: 30px;
	background: #f2f2f2;
	border-radius: 5px;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	color: #333;

	font-weight: 700;

}

a.register{
	margin:0 0 0 10px;
	text-decoration: none;
	color: #333;

	font-weight: 400;
	font-size: 0.75em;
}

.SignupForm{
	width:100%;
	
	text-align: center;
	padding: 25% 0 10% 0;
	
	background-size: cover;

	
}

.SignupForm form{
	text-align: left;
	width:400px;
	padding: 20px;
	background: #f2f2f2;
	border-radius: 5px;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	color: #333;

	font-weight: 700;

}

@media only screen and (min-width: 100px) {

	.hero{
		height:120%;
		background: #15B3FF;
		background-image:none;
	}

#background{

    padding: 0 10px;
 
}

	.loginForm{
	width:100%;
	height:100%;
	text-align: center;
	padding-top: 45%;
	background-size: cover;

	
}

.SignupForm{
	width:100%;
	
	text-align: center;
	padding: 30% 0 10% 0;
	
	background-size: cover;

	
}

.hero-section{
	padding:100px 0 0 0;	
}

.hero-section img{
	width:80px;
	margin:0 auto;
}
.hero-section h1{
	font-size: 2.5em;
}

input{
	font-size: 1.5em;
}

.hero-section{
	text-align: center;
}
nav{
	width:100%;


}
.mainnav{
	position: absolute;
	width:100%;
	padding:20px 0 20px 0 ;
	

}

.mainnav nav ul{
	padding:5px 0 0 0;
	font-size: 18px;
	text-align: center;
	
	margin:0 auto;

}

.mainnav nav ul li{
	padding:10px 10px;
	font-size: 14px;
	text-align: center;
	
	border:none;
}
.mainnav nav ul li:hover{
	padding:10px 10px;
	font-size: 14px;
	text-align: center;
	
	background-color: #14A4DD;
	border:none;
}

.logo img{
	width:120px;
	margin-top: 10px;
	margin-right: -10px;
}

.logo{
	margin-right: -20px;
}
.steps{
	width:100%;
	
	margin:20px 0;
	float:left;
}
h3{
	font-size:2.3em;
}

.news{
	display: none;
}


}

@media only screen and (min-width: 960px) {
.none{
	display: inline-block;
}

.mainnav nav ul li{
	padding:20px 20px;
	font-size: 18px;
	text-align: center;
	
	border:none;
}
.mainnav nav ul li:hover{
	padding:20px 20px;
	font-size: 18px;
	text-align: center;
	
	background-color: #14A4DD;
	border:none;
}

h1{

	font-weight: 700;
	font-size: 48pt;
	letter-spacing: 3px;
}

h2{
	font-size: 2em;

}

h3{

	font-weight: 700;
	font-size: 4.5em;
	margin:0;
}
.hero-section{
	width:100%;
	padding:8% 10% 0 10%;
	text-align: center;
}

.hero-section p{
	font-size: 18pt;
	font-weight: lighter;
}
.hero-section a{
	text-decoration: none;
	font-weight: normal;
	color: #fff;
}

header{
	background: rgba(0,0,0,0);
	padding:10px 60px;
}

.text{
	width:30%;
	margin:0 auto;
	
}

.img{
	width:50%;
	padding:1.5% 10% 0 0;
	float:left;
}

.img img{
	width:110%;
}



.steps img{
	width:100%;
	margin:0 auto;
	padding:0;
}

.caption{
	font-size: 2em;

	font-weight: 700;
}

#how{
	padding: 8% 0;
}

.SignupForm{
	width:100%;
	
	text-align: center;
	padding: 10% 0 10% 0;

	background-size: cover;

	
}

.loginForm{
	padding-top: 15%
}

.hero-section img{
	width:140px;
	margin:0 auto;
}
.hero-section h1{
	font-size: 4em;
}

.steps{
	width:33%;
	padding:0 5%;
	float: left;
	margin:20px 0;
	float:left;
}

.news{
	display: block;
}

.hero{
	width:100%;
	height:100%;
	background: url(../hero-image-03-10.jpg) no-repeat 50% 30%;
	background-size: cover;

}

.right{
	margin-left: -60px

}
