*{
	box-sizing: border-box;
}

html {
	height: 100%;
}

body{
	margin:0;
	padding:0;
	background: #fff;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size: .75;
	height: 100%;
}

label{

	font-family: sans-serif;
	display:block;
	margin:10px 0 0px 5px;
}

form{
	max-width:90%;
	margin:0 auto;
}

h1{
	font-size: 3.5em;
	margin:10px 0;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
}

h2{
	font-size: 1.5em;
	font-family: 'Roboto Condensed', sans-serif;
}

h3{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 2em;
}


.colour{
	display: inline-block;

}



.submit{
	background-color: rgb(19,168,53);
	cursor: pointer;
	color: #fff;
	font-weight:bold;
	padding:10px;
	border:none;
	font-size: 1em;
}




p{
	font-size: 1.25em;
	font-family: sans-serif;
	margin:0 0 10px 0;
	font-weight: 400;
	line-height: 1.5;
}

input{
	margin:5px 5px 5px 0px;
	background-color: rgba(0,0,0,0.05);
	border:none;
	padding:10px;
	font-size: 1em;



}

.fw{
	width:100%;
}
select, option{
	background-color: rgba(42,119,250,0.2);
	border: none;
	color: #fff;
	padding:5px;
}

.input:active{
	border:0;
	background: rgba(0,0,0,0.1)
}

textarea{
	background-color: rgba(82,159,173,0.5);
	padding: 10px;
	font-size: 1.25em;
}

.text{
	width:100%;
	padding:20px;
}

header{
	width:100%;
	padding:0px 10px;
	position: absolute;
	z-index: 1;
	position: fixed;
	background-color: rgba(0,0,0,0.4);
}

#background{
	position:absolute;
    top:0px;
    left:0;
    width:100%;
    height:100%;
    background-color:#333;
    display:none;
    z-index: -1;
    box-shadow:0px 2px 3px rgba(0,0,0,0.3);
}



nav{
	width:100%;


}

.none{
	display:none;
}
nav ul{
	list-style-type: none;
	text-align: right;
}
nav ul li{
	display: inline-block;
	margin:0px 20px;
	/*font-weight: bold;
	/*text-shadow: 2px 1px 2px rgba(0,0,0,0.4);*/

}

nav ul a li {
	color: #fff;
	text-decoration:none;
	border-bottom: 3px solid rgba(27,89,198,0);
	padding-bottom:10px;
	transition: all 0.3s ease;

}

nav ul a li:hover {
		border-bottom: 3px solid rgba(27,89,198,1);

}

.login{
	border: 2px solid #fff;
	padding:10px 30px;

	text-align: center;
	margin:5px 0 0 20px;
	transition: all 0.2s ease;
}

.login:hover{
	background: #1B59C6;
	border: 2px solid rgba(255,255,255,0);
}

.login:active{
	background: #11397F;
}


.logo{
	float:left;
	padding:5px 5px;
	margin-top: 10px;
}

.hero{
	width:100%;
	height:100%;
	background: url(../hero-image-03.jpg) no-repeat 50% 30%;
	background-size: cover;


}

.hero-section{
	width:100%;
	padding:30% 10% 0;



}

.hero-header{
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	text-shadow: 2px 1px 2px rgba(0,0,0,0.4);
}

.btn{
	width:200px;
	font-size: 1.5em;
	font-weight: 500;
	border: 2px solid #fff;
	padding:10px 30px;
	text-align: center;
	margin:30px auto;
	transition: all 0.2s ease;
}

.pink{
	width:200px;
	font-size: 1.5em;
	font-weight: 500;
	background-color: #2447fc;
	padding:10px 30px;
	text-align: center;
	margin:30px auto;
	transition: all 0.2s ease;
	border-radius: 2px;
	box-shadow: 0px 4px 3px rgba(0,0,0,0.4);
}

.pink:hover{
	background-color: #26BADD;
}


#what{
	width:100%;
	padding:8% 5%;
	background-color: #f1f1f1;
	color: #333;
	overflow: hidden;
	z-index: 1;
}

#how{
	width:100%;
	padding:8% 5%;
	background-color: #26BADD;
	overflow: hidden;
}

#contact{
	width:100%;
	padding:8% 5%;
	background-color: #f1f1f1;
	color: #333;
	overflow: hidden;
	text-align: center;

}

.contact{
	background: #333;
	color: #B3B3B3;
	text-align: center;
	padding:2% 5%;
}

.contact a{
	text-decoration: none;
	color: #fff;

}

.contact a:hover{
	color: #26BADD;
}

.copy{
	text-align: center;
	width:100%;
	padding:2%;
	background-color: #222;
	color: #fff;
}

.content .btn{
	border: 2px solid #333; 
}
.content .btn:hover{
	border: 2px solid #fff;
	color: #fff;
}
.process{
	width:100%;
	text-align: center;
	padding: 5% 0
}

}

.img{
	width:100%;

}

.img img{
	width:110%;
}

.steps{
	width: 100%;
	padding:0 5%;
	float:left;
}

.steps img{
	width:100%;
	margin:0 auto;
}

.caption{
	font-size: 2em;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
}
.how{
	padding:0 5%;
}
.line{
	width:40%;
	height:2px;
	float: left;
	background: #fff;
	margin: 20px 0 0 0;
}
.title{
	float: left;
	margin:0;
	width:20%;
	text-align: center;

}

.title h2{
	margin:0;
	padding:0;
}
/*==============================
SLIDER STYLES
===============================*/

.slider-wrap {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.slider {
	height: 100%;
	width: 100%;
	transition: all 0.5s;
}

.slide {
	width: 100%;
	padding: 5% 0;
}


.loginForm{
	width:100%;
	height:100%;
	text-align: center;
	padding-top: 35%;
	background: url(../bunny.jpg) no-repeat 50% 30%;
	background-size: cover;

	
}

.loginForm form{
	text-align: left;
	width:400px;
	padding: 30px;
	background: #f2f2f2;
	border-radius: 5px;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	color: #333;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;

}

a.register{
	margin:0 0 0 10px;
	text-decoration: none;
	color: #333;
	font-family: 'Roboto Condensed';
	font-weight: 400;
	font-size: 0.75em;
}

.SignupForm{
	width:100%;
	
	text-align: center;
	padding: 25% 0 10% 0;
	background: url(../hero-image-02.jpg) no-repeat 50% 30%;
	background-size: cover;

	
}

.SignupForm form{
	text-align: left;
	width:400px;
	padding: 20px;
	background: #f2f2f2;
	border-radius: 5px;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	color: #333;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;

}

@media only screen and (min-width: 640px) {

	.loginForm{
	width:100%;
	height:100%;
	text-align: center;
	padding-top: 15%;
	background: url(../bunny.jpg) no-repeat 50% 30%;
	background-size: cover;

	
}

.SignupForm{
	width:100%;
	
	text-align: center;
	padding: 10% 0 10% 0;
	background: url(../hero-image-02.jpg) no-repeat 50% 30%;
	background-size: cover;

	
}

input{
	font-size: 1.5em;
}

h1{
	font-size:4em;
}
}

@media only screen and (min-width: 1024px) {
.none{
	display: inline-block;
}

h1{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 5.5em;
}

h2{
	font-size: 2em;
	font-family: 'Roboto Condensed', sans-serif;
}

h3{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 3.5em;
}
.hero-section{
	width:100%;
	padding:20% 10% 0 10%;
}

header{
	background: rgba(0,0,0,0);
	padding:10px 70px;
}

.text{
	width:50%;
	padding:0 10%;
	float: left;
}

.img{
	width:50%;
	padding:1.5% 10% 0 0;
	float:left;
}

.img img{
	width:110%;
}

.steps{
	width:33%;
	padding:0 5%;
	float:left;
}

.steps img{
	width:100%;
	margin:0 auto;
	padding:0;
}

.caption{
	font-size: 2em;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
}

#how{
	padding: 8% 0;
}

.SignupForm{
	width:100%;
	
	text-align: center;
	padding: 10% 0 10% 0;
	background: url(../hero-image-02.jpg) no-repeat 50% 30%;
	background-size: cover;

	
}

}

/*@media only screen and (min-width: 480px) {

	label{

	font-family: sans-serif;
	display:block;
	margin:10px 0 0px 5px;
}

form{
	max-width:800px;
	margin:0 auto;
}

h1{
	font-size: 5.5em;
	margin:10px 0;
}

.dime{
	width:200px;
}

.range{
	width:80px;
}

.left{
		float: left;
}

.colour{
	display: inline-block;

}
.buttons{
	width:100%;
	margin:10px 0 0 0;
}

.submit{
	background-color: rgb(19,168,53);
	cursor: pointer;
	color: #fff;
	font-weight:bold;
	padding:10px;
	border:none;
	font-size: 1em;
}


.add{
	border:none;
	background:none;
	font-size:.75em;
	color: rgba(36,38,62,1);
	cursor: pointer;
	width:100%;
	text-align: left;
}

p{
	font-size: 1.25em;
	font-family: sans-serif;
	margin:0 0 10px 0;
	font-weight: 400;
	line-height: 1.5;
}

h1{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
}

h2{
	font-size: 2em;
	font-family: 'Roboto Condensed', sans-serif;
}

h3{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 3.5em;
}

input{
	margin:5px 5px 5px 5px;
	background-color: rgba(82,159,173,0.5);
	border-top:0;
	border-left:0;
	border-right:0;
	padding:10px;
	font-size: 1.5em;


}

select, option{
	background-color: rgba(42,119,250,0.2);
	border: none;
	color: #fff;
	padding:5px;
}

.input:active{
	border:0;
	background: rgba(0,0,0,0.1)
}

textarea{
	background-color: rgba(82,159,173,0.5);
	padding: 10px;
	font-size: 1.25em;
}

.text{
	width:500px;
}

header{
	width:100%;
	padding:0px 100px;
	position: absolute;
	z-index: 1;
	position: fixed;
}

#background{
	position:absolute;
    top:0px;
    left:0;
    width:100%;
    height:100%;
    background-color:#333;
    display:none;
    z-index: -1;
    box-shadow:0px 2px 3px rgba(0,0,0,0.3);
}



nav{
	width:100%;


}
nav ul{
	list-style-type: none;
	text-align: right;
}
nav ul li{
	display: inline-block;
	margin:0px 20px;
	/*font-weight: bold;
	/*text-shadow: 2px 1px 2px rgba(0,0,0,0.4);*/


/*
nav ul a li {
	color: #fff;
	text-decoration:none;
	border-bottom: 3px solid rgba(27,89,198,0);
	padding-bottom:10px;
	transition: all 0.3s ease;

}

nav ul a li:hover {
		border-bottom: 3px solid rgba(27,89,198,1);

}

.login{
	border: 2px solid #fff;
	padding:10px 30px;

	text-align: center;
	margin:5px 0 0 20px;
	transition: all 0.2s ease;
}

.login:hover{
	background: #1B59C6;
	border: 2px solid rgba(255,255,255,0);
}

.login:active{
	background: #11397F;
}


.logo{
	float:left;
	padding:5px 20px;
	margin-top: 10px;
}

.hero{
	width:100%;
	height:100%;
	background: url(../hero-image-03.jpg) no-repeat 50% 30%;
	background-size: cover;


}

.hero-section{
	width:100%;
	padding:20% 10%;



}

.hero-header{
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	text-shadow: 2px 1px 2px rgba(0,0,0,0.4);
}

.btn{
	width:200px;
	font-size: 1.5em;
	font-weight: 500;
	border: 2px solid #fff;
	padding:10px 30px;
	text-align: center;
	margin:30px auto;
	transition: all 0.2s ease;
}

.pink{
	width:200px;
	font-size: 1.5em;
	font-weight: 500;
	background-color: #2447fc;
	padding:10px 30px;
	text-align: center;
	margin:30px auto;
	transition: all 0.2s ease;
	border-radius: 2px;
	box-shadow: 0px 4px 3px rgba(0,0,0,0.4);
}

.pink:hover{
	background-color: #26BADD;
}


#what{
	width:100%;
	padding:8% 5%;
	background-color: #f1f1f1;
	color: #333;
	overflow: hidden;
	z-index: 1;
}

#how{
	width:100%;
	padding:8% 5%;
	background-color: #26BADD;
	overflow: hidden;
}

#contact{
	width:100%;
	padding:8% 5%;
	background-color: #f1f1f1;
	color: #333;
	overflow: hidden;
	text-align: center;

}

.contact{
	background: #333;
	color: #B3B3B3;
	text-align: center;
	padding:2% 5%;
}

.contact a{
	text-decoration: none;
	color: #fff;

}

.contact a:hover{
	color: #26BADD;
}

.copy{
	text-align: center;
	width:100%;
	padding:2%;
	background-color: #222;
	color: #fff;
}

.content .btn{
	border: 2px solid #333; 
}
.content .btn:hover{
	border: 2px solid #fff;
	color: #fff;
}
.process{
	width:100%;
	text-align: center;
	padding: 5% 0
}
.text{
	width:50%;
	padding:0 10%;
	float: left;
}

.img{
	width:50%;
	padding:1.5% 10% 0 0;
	float:left;
}

.img img{
	width:110%;
}

.steps{
	width:33%;
	padding:0 5%;
	float:left;
}

.steps img{
	width:100%;
	margin:0 auto;
}

.caption{
	font-size: 2em;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
}
.how{
	padding:0 5%;
}
.line{
	width:40%;
	height:2px;
	float: left;
	background: #fff;
	margin: 20px 0 0 0;
}
.title{
	float: left;
	margin:0;
	width:20%;
	text-align: center;

}

.title h2{
	margin:0;
	padding:0;
}
/*==============================
SLIDER STYLES
===============================*/
/*
.slider-wrap {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.slider {
	height: 100%;
	width: 100%;
	transition: all 0.5s;
}

.slide {
	width: 100%;
	padding: 5% 0;
}


.loginForm{
	width:100%;
	height:100%;
	text-align: center;
	padding-top: 12%;
	background: url(bunny.jpg) no-repeat 50% 30%;
	background-size: cover;

	
}

.loginForm form{
	text-align: left;
	width:400px;
	padding: 30px;
	background: #f2f2f2;
	border-radius: 5px;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	color: #333;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;

}

a.register{
	margin:0 0 0 10px;
	text-decoration: none;
	color: #333;
	font-family: 'Roboto Condensed';
	font-weight: 400;
	font-size: 0.75em;
}

.SignupForm{
	width:100%;
	height:100%;
	text-align: center;
	padding-top: 5%;
	background: url(../hero-image-02.jpg) no-repeat 50% 30%;
	background-size: cover;

	
}

.SignupForm form{
	text-align: left;
	width:400px;
	padding: 30px;
	background: #f2f2f2;
	border-radius: 5px;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	color: #333;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;

}

}